{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="form-card mx-auto">

        <h2 class="mb-4">Edit Profile</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <h5>Account Information</h5>
            {{ user_form.as_p }}

            <hr>

            <h5>Profile Information</h5>
            {{ form.as_p }}

            <button class="btn btn-danger">
                Save Changes
            </button>

            <a href="{% url 'profile' %}" class="btn btn-secondary">
                Cancel
            </a>
        </form>

    </div>

</div>

{% endblock %}