{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="container py-5">
    <div class="form-card mx-auto">

        <h2 class="text-center mb-4">Create Account</h2>

        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-danger w-100">
                Register
            </button>
        </form>

        <p class="text-center mt-3">
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </p>

    </div>
</div>

{% endblock %}